/data/
/models/
__pycache__/
/model_files/
/.idea/
/dynamics/dynamics.egg-info/
/.vscode/
wandb/
.DS_Store
.ipynb_checkpoints/
/ninaproDB8/data/
launch.json
dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt

OMEN
omen*
hand_config.yaml

paper_utils/paper_data/*
# pixi environments
.pixi/*
!.pixi/config.toml
